* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: Quicksand, sans-serif;
}

html {
	font-size: 62.5%;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-wrapper {
	width: 68vw;
	height: 44vw;
	background-color: #eee;
	border-radius: 2vw;
	box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
	position: relative;
	overflow: hidden;
}

.left {
	position: absolute;
	top: 25%;
	left: -19vw;
	text-align: center;
	color: #fff;
	width: 19vw;
	z-index: 100;
	transition: left 0.8s;
}

.container.change .left {
	left: 4.2vw;
}

.left p {
	font-size: 1.5vw;
}

.green-bg {
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #3ab19b, #4cbf91);
	/* background: linear-gradient(to right, #b5d4f2, #a7caec); */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	transition: width 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.container.change .green-bg {
	width: 40%;
}

.green-bg button {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translateX(-50%);
	width: 18vw;
	height: 4vw;
	background-color: transparent;
	border: 0.1rem solid #fff;
	border-radius: 3rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	color: #fff;
	cursor: pointer;
	font-size: 1.2vw;
	font-weight: bold;
}

.right {
	position: absolute;
	width: 41vw;
	height: 100%;
	top: 0;
	left: 0vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2vw 0;
	transition: left 1.5s cubic-bezier(cubic-bezier(0.19, 1, 0.22, 1));
}

.container.change .right {
	left: 27vw;
}

.right h1 {
	font-size: 2.5vw;
	color: #3aaf9f;
	margin: 2vw;
}

.right p {
	font-size: 1.5vw;
	color: #555;
	margin: 2vw 4vw;
}

.green-bg {
	display: flex;
	justify-content: center;
	align-items: center;
}

.name {
	font-size: 1.8vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container.change .name {
	display: hidden;
}

.hidden {
	display: none;
}

input {
	width: 10vw;
	height: 2vw;
	margin: 1vw;
	border-radius: 0.1vw;
	padding: 1vw;
	font-size: 1.3vw;
}

@media screen and (max-width: 500px) {
	.form-wrapper {
		width: 90vw;
		height: 60vw;
	}
	.container.change .right {
		left: 40vw;
	}
	.container.change .left {
		left: 8vw;
	}

	.left p {
		font-size: 1.8vw;
	}
	.right h1 {
		font-size: 3vw;
	}
	.right p {
		font-size: 2vw;
	}
	.green-bg button {
		font-size: 0.8vw;
	}
}
